<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
       <div class="card"  >
            <img  src ="<%= user.avatar %>"  class="card-image-top" style="width:100%; height:240px; " >
            <div class="card-body">
                <h4 class="card-title"><%=user.firstName%> <%= user.lastName %></h4>
    
            </div>
        </div>
    </div>
    <div class="col-md-8">
        
    </div>
    
    
</div>